In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
df = pd.read_csv('gapminder-FiveYearData.csv')
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [78]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [79]:
df.loc[10]

country      Afghanistan
year                2002
pop          2.52684e+07
continent           Asia
lifeExp           42.129
gdpPercap        726.734
Name: 10, dtype: object

In [80]:
df.loc[0]

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [81]:
df.loc[1]

country      Afghanistan
year                1957
pop          9.24093e+06
continent           Asia
lifeExp           30.332
gdpPercap        820.853
Name: 1, dtype: object

In [82]:
df.tail(n=1)

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [83]:
df.loc[[0,10,100,1000]]

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
100    Bangladesh  1972  70759295.0      Asia   45.252   630.233627
1000     Mongolia  1972   1320500.0      Asia   53.754  1421.741975

In [84]:
df.iloc[0]

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [50]:
df.iloc[1]

country      Afghanistan
year                1957
pop          9.24093e+06
continent           Asia
lifeExp           30.332
gdpPercap        820.853
Name: 1, dtype: object

In [51]:
df.iloc[[99,999]]

        country  year         pop continent  lifeExp    gdpPercap
99   Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999    Mongolia  1967   1149500.0      Asia   51.253  1226.041130

In [52]:
df.iloc[-1]

country         Zimbabwe
year                2007
pop          1.23111e+07
continent         Africa
lifeExp           43.487
gdpPercap        469.709
Name: 1703, dtype: object

In [75]:
df.iloc[[0,9,100]]

AttributeError: 'str' object has no attribute 'iloc'

In [54]:
subset = df.loc[:,['year','pop']]
subset.head()

   year         pop
0  1952   8425333.0
1  1957   9240934.0
2  1962  10267083.0
3  1967  11537966.0
4  1972  13079460.0

In [72]:
subset = df.iloc[:,[2, 4, -1]]
subset.head()

AttributeError: 'str' object has no attribute 'iloc'

In [71]:
small_range = list(range(5))
subset = df.iloc[:, small_range]
subset.head()

AttributeError: 'str' object has no attribute 'iloc'

In [70]:
df = df.loc[42,'country']
df

AttributeError: 'str' object has no attribute 'loc'

In [67]:
df = df.loc[444,'country']
df

AttributeError: 'str' object has no attribute 'loc'